<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1023006671010-7mh3qe29o4lhev8sqngo0renuog41obu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1023006671010-7mh3qe29o4lhev8sqngo0renuog41obu</string>
	<key>API_KEY</key>
	<string>AIzaSyAilNSX4Snvj_UVAUrIG9-lXYe-pOmw47w</string>
	<key>GCM_SENDER_ID</key>
	<string>1023006671010</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ucdavis.bosealbum</string>
	<key>PROJECT_ID</key>
	<string>bosealbum</string>
	<key>STORAGE_BUCKET</key>
	<string>bosealbum.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1023006671010:ios:6b90a1add60400ba</string>
	<key>DATABASE_URL</key>
	<string>https://bosealbum.firebaseio.com</string>
</dict>
</plist>